.custom-block.tip
  border-radius 0.4rem
  .custom-block-title
    color: #42b983

.custom-block.warning
  border-radius 0.4rem

.custom-block.danger
  border-radius 0.4rem
  border-color #D3305B

.theorem
  margin 1rem 0
  padding 0.1rem 1.5rem
  border-left-width: 0.5rem
  border-left-style: solid
  border-radius 0.4rem
  background-color #3e3b3b
  border-color white
  .title
    font-weight bold
  .custom-block-title
    font-size: 20px

.custom-block
  &.right
    margin 1rem 0
    padding 0.1rem 1.5rem
    border-left-width: 0.5rem
    border-left-style: solid
    border-radius 0.4rem
    background-color #3e3b3b
    border-color white
    .title
      font-weight bold
    .custom-block-title
      font-size: 20px

img
  border-radius 0.8rem
