<script>
export default {
  functional: true,
  props: {
    type: {
      type: String,
      default: 'tip'
    },
    text: String,
    vertical: {
      type: String,
      default: 'top'
    }
  },
  render (h, { props, slots }) {
    return h('span', {
      class: ['colorBadge', props.type],
      style: {
        verticalAlign: props.vertical
      }
    }, props.text || slots().default)
  }
}
</script>

<style lang="stylus" scoped>
.colorBadge
  display inline-block
  font-size 14px
  height 18px
  line-height 18px
  border-radius 3px
  padding 0 6px
  margin-top 20px
  color black
  &.blue
    background-color $badgeBlue
  &.green
    background-color $badgeGreen
  &.lightGreen
    background-color $badgeLightGreen
  &.lightRed
    background-color $badgeLightRed
  &.orange
    background-color $badgeOrange
  &.purple
    background-color $badgePurple
  &.red
    background-color $badgeRed
  &.yellow
    background-color $badgeYellow
  & + &
    margin-left 5px
</style>